.input__container {
    background-color: var(--container_bg);
    border-radius: 15px;
}

.input {
    display: flex;
    flex-direction: column;
    padding: 10px 20px 0px 20px;
}

.name,
.title,
.question,
.input__author,
.input__title,
.input__question {
    margin-bottom: 5px;
}

.name,
.title,
.question {
    color: var(--container_input_text);
}

.input__author:hover, .input__title:hover, .input__question:hover {
    background-color: var(--hover_container_input);
    border: 3px solid var(--hover_container_input_border);
    outline: none;
}

.input__author,
.input__title,
.input__question {
    height: 30px;
    border-radius: 7px;
    border: none;
    background-color: var(--container_input);
}

.submit_Wrapper {
    padding: 0px 20px 0px 20px;
}

.input__question {
    resize: vertical;
}

.submitButton {
    text-align: center;
    margin-top: 10px;
    background-color: var(--container_submit_bg);
    width: 100%;
    height: 35px;
    border-radius: 8px;
    border: none;
    color: var(--container_submit_text);
    font-size: 15px;
    margin-bottom: 15px;
}

.submitButton:hover {
    background-color: var(--hover_container_submit_bg);
    transition: 0.2s;
}

.discussion__wrapper {
    margin-top: 10px;
    overflow: overlay;
    height: 90.6vh;
}

/* 스크롤바 전체 설정 */
.discussion__wrapper::-webkit-scrollbar {
    width: 7px;
}
/* 스크롤바 막대(핸들) 설정 */
.discussion__wrapper::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 42%, 0.29);
    border-radius: 100px;
}